.Yo{
  background-color: white;
margin: 0 150px 0 150px;
border-radius: 10px;
}
.Yoo{background-color: grey;}
.Yooo{
  gap: 100px;
  margin:10px;
  
  width:100%;
  align-items: center;
  justify-content: center;
}